.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  min-height: 100vh;
}

.search {
  background-color: aqua;
  grid-column: 1 / -1;
}

.map {
}

.list {
  background-color: lavender;
}