.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  min-height: 100vh;
}

.search {
  grid-column: 1 / -1;
}

.map {
}

.list {
  box-shadow: 0 8px 29px 0 rgba(66, 69, 78, 0.45);
  height: 100%;
}