*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: "Museo-Sans-300","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

body {
  --colour-ccf-blue: #00a2b6;
  --colour-modal-bg: rgba(0, 162, 182, 0.5);
  --colour-standard-white: #fff;
  --colour-input-bg: #fff;
  --colour-border: #000;
}
