.infoWindowContainer {
  position: relative;
  bottom: 200px;
  border-radius: 10px;
  left: -45px;
  width: 220px;
  background-color: white;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 14px;
  z-index: 100;
}

.infoWindowContainer p {
  margin-top: 0.5em;
}